@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DINCondensed';
    src: url('../css/fonts/DINCondensed.ttf');
}

.list-inline-item, .title, .card-heading, #menu li{
  font-family: 'DINCondensed';
}

body, p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1{
  margin: 10px !important;
}
/* mobile */
@media only screen and (max-width: 768px) {

  #map{
    display: none;
  }
}

.orange {
  color: #fd6a35;
}
.padding, .footer-copyright, ul.social-icons, .title{
  padding: 10px;
}

#map_container{
  position: relative;
}

#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    padding-top: 30px;
    position: relative;
}

.back-to-top {
    right: 15px !important;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 50px;
    display: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    border-color: black;
    opacity: 0.5;
}

.back-to-top:hover {
    background-color: black;
    border-color: black;
    opacity: 1;
}

.title{
  text-align: center;
  font-size: 40px;
}

.logo{
  height: 50%;
  width: 7%;
}

a:hover{
  cursor: pointer;
}

/* https://codepen.io/humbl3man/pen/BKgwwx */
.animated {
  animation-duration: 500ms;
}

.top-nav a:hover {
    color: #fd6a35;
    border-color: #fd6a35;
  }

.top-nav.scrolled {
    background-color: #000 !important;
    transition: background-color 200ms linear;
}


.top-hero {
  background-color: #fafafa;
  background-image: url("../images/poki-home.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 125px;
  display: flex;
  align-items: center;
}

.top-hero-2 {
  background-color: #fafafa;
  background-image: url("../images/custom.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  padding-top: 125px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .top-hero {
    min-height: 400px;
    padding-top: 50px;
  }
  .top-hero h1 {
    font-size: 36px;
    margin-top: 50px;
  }
}

.top-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding:10px;
}

.top-nav ul {
  float: right;
  position: relative;
  top:20px;
}

.top-nav a {
  font-size: 20px;
  color: #EDF2F4;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 0 0 5px;
  transition: .25s;
  margin: 0 10px 0 10px;
}

.mobile-nav{
  display: none;
}

/* mobile navigation https://codepen.io/crushoftheyear/pen/redJdy */
@media only screen and (max-width: 768px) {
  .banner {
    min-height: 400px;
  }
  .banner h1,
  .banner h2 {
    font-size: 20px;
  }

  .top-nav{
    display:none;
  }

  .logo{
    height: 75px;
    width: 75px;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fff;
  }
  body ul li {
    list-style-type: none;
  }

  .mobile-nav {
    background-color: #fd6a35;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: grid;
  }

  ul#menu {
    display: none;
  }
  ul#menu li a {
    width: 100%;
    display: block;
    background-color: #fd6a35;
    color: #fff;
    font-size: 1.0em;
    padding: 1.5em 1.6em;
    transition: background 0.2s;
    text-decoration: none;
  }
  ul#menu a:hover {
    background-color: #4b85a2;
  }

  @media screen and (min-width: 2000px) {
    .hamburger-container {
      display: none;
    }

    .mobile-nav ul#menu {
      display: inline;
    }
    .mobile-nav ul#menu li {
      display: inline-block;
      margin-right: -5px;
    }
  }
  ul.hamburger li {
    height: 5px;
    background: white;
    content: '';
    position: relative;
    transition: .25s ease-in-out;
  }

  .hidden {
    opacity: 0;
  }

  .rot45deg {
    transform: rotate(45deg);
    top: 10px !important;
  }

  .rot-45deg {
    transform: rotate(-45deg);
  }

  ul.hamburger {
    display: block;
  }
  ul.hamburger li:nth-child(1) {
    top: 0;
  }
  ul.hamburger li:nth-child(2) {
    top: 5px;
  }
  ul.hamburger li:nth-child(3) {
    top: 10px;
  }

  .hamburger-container {
    width: 38px;
    margin: 1.2em 1.6em;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

.center{
  text-align: center;
}

.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

footer{
  padding:10px;
}
/*Change icons size here*/
.social-icons .fa {
  font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
  border-radius: 50%;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa-facebook {
  background-color: #3C599F;
}
.social-icons .fa-instagram {
  background-color: #A1755C;
}
.social-icons .fa-yelp {
  background-color: #CC2127;
}
.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
}



.card {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding:20px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-lg{
  border-radius: 2px !important;
}

.card-heading{
  font-size: 26px;
  text-align: center;
}

#menu li{
  font-size: 20px;
}

a {
  text-decoration: none;
}
